.login {

    &-bgr {

        background-image: linear-gradient(#3750EB, #BDCFF5);
        height: 100vh;
        margin:0; 
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &-box1 {
        background-color: #FFFFFF;
        border-radius: 20px;
        width: 70%;
        height: 70%;
    }
    &-gr1 {
        padding: 8%;
    }
}

.img {
    &-bgr {
        width: 100%;
        height: 100%;
    }
}

html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
  }